.TituloServicos{
    display: flex;
   
    align-items: center;
   flex-direction: column;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
   margin-top: 85px;

    color: #FFFFFF;
}
.ServicosRoot{
  
    background: linear-gradient(180deg, #0A4058 0%, rgba(16, 106, 146, 0) 100%);

}
.TituloServicos p{
   margin-bottom: 0px;
}
.linha{
    
    width: 350px;
 
  object-fit: cover;
    border: 5px solid #FA7D09;
}
.descricaoServicos{
    margin-bottom: 105px;
    display: flex;
    justify-content: center;
   
}
@media(max-width: 815px){
    .descricaoServicos{
        margin-bottom: 75px;
        justify-content: center !important;
    }
 
}

@media(max-width:584px){
    .descricaoServicos{
        flex-direction: column;
        margin-bottom: 8px;
    }
}
@media(max-width: 415px){
    .TituloServicos{
        font-size: 41px;
        margin-bottom: 15px;
    }
    .linha{
         width: 260px;
    }
 }